<div fxLayout="row">
  <div fxFlex="65%" class="video-detail">
    <app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
    <div class="mat-title">{{videoTitle}}</div>

    <div fxLayout="row">
      <div fxFlex="50%">
        <span>{{viewCount}} views</span>
        <span class="seperator"></span>
        <span>3d January 2023</span>
        <div>{{videoDescription}}</div>
      </div>
    </div>

  </div>
  <div fxFlex="5%"></div>
  <div fxFlex="30%">
    Suggestion Bar
  </div>
</div>
